<span ng-controller="GraphCtrl">
  <div class="widget_wrapper panel panel-default pull-left" ng-mouseenter="showControls = true" ng-mouseleave="showControls = false">
    <div class="widget_title panel-heading">
      {{graph.title}}
      <span class="graph_ajax_status pull-right" ng-show="requestsInFlight">
        <img src="/assets/spinner.gif" alt="AJAX indicator">
        {{requestsInFlight}} pending
      </span>
      <div class="btn btn-danger btn-xs remove_graph_btn pull-right" ng-click="removeGraph($index)" ng-show="showControls">
        <i title="Remove graph" class="icon-cross"></i>
      </div>
    </div>

    <div class="pull-left graph_control_tabbar" ng-show="showControls || showTab">
      <!-- Graph control tab buttons -->
      <div class="btn-group">
        <div class="btn btn-primary btn-sm" ng-click="toggleTab('datasources')"><i title="Datasources" class="icon-add-to-list"></i></div>
        <div class="btn btn-primary btn-sm" ng-click="toggleTab('timerange')"><i title="Time options" class="icon-clock"></i></div>
        <div class="btn btn-primary btn-sm" ng-click="toggleTab('graph')"><i title="Graph and axis settings" class="icon-line-graph"></i></div>
        <div class="btn btn-primary btn-sm" ng-click="toggleTab('palette')"><i title="Palette" class="icon-palette"></i></div>
        <div class="btn btn-primary btn-sm" ng-click="refreshGraph()"><i title="Refresh" class="icon-cycle"></i></div>
      </div>

      <!-- Graph control tab content panes -->
      <!-- 1) Datasources -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'datasources'">
        <div class="panel-heading">Datasources</div>
        <div class="panel-body">
          <div ng-repeat="expr in graph.expressions">
            <b>Expression {{$index + 1}}</b>
            <select class="form-control" ng-model="expr.server_id" ng-options="s.id as s.name for s in servers">
              <option value="">- Select Server -</option>
            </select>
            <select class="form-control" ng-model="expr.axis_id" ng-options="a.id as ('Axis ' + a.id) for a in graph.axes">
              <option value="">- Select Axis -</option>
            </select>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="expr.expression" placeholder="Enter expression" required>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="removeExpression($index)"><i class="icon-cross"></i></button>
              </span>
            </div>
            <br/>
          </div>
          <button class="btn btn-primary" ng-click="addExpression()">Add Expression</button>
        </div>
      </div>

      <!-- 2) Time Options -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'timerange'">
        <div class="panel-heading">Time Options</div>
        <div class="panel-body">
          <div class="col-lg-4">
            <label>Relative range:</label>
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="decreaseRange()" title="Decrease range">
                  <i class="icon-minus"></i>
                </button>
              </span>
              <input type="text" class="form-control" ng-model="graph.range" placeholder="Range">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="increaseRange()" title="Increase range">
                  <i class="icon-plus"></i>
                </button>
              </span>
            </div>
          </div>

          <div class="col-lg-7">
            <label>End time:</label>
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="decreaseEndTime()" title="Decrease end time">
                  <i class="icon-fb"></i>
                </button>
              </span>
              <input type="text" class="form-control" datetime-picker datetime="graph.endTime" data-format="yyyy-MM-dd" placeholder="Until">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="increaseEndTime()" title="Increase end time">
                  <i class="icon-ff"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- 3) Graph and Axis Settings -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'graph'">
        <div class="panel-heading">Graph and Axis Settings</div>
        <div class="panel-body">
          <label>Graph Title:</label>
          <input class="form-control" ng-model="graph.title">

          <br/>
          <label>Chart Type:</label>
          <div class="radio">
            <label><input type="radio" ng-model="graph.stacked" ng-value="false"><i class="icon-line-graph"></i> lines</label>
          </div>
          <div class="radio">
            <label><input type="radio" ng-model="graph.stacked" ng-value="true"><i class="icon-area-graph"></i> stacked</label>
          </div>

          <!-- UNCOMMENT WHEN AXES ARE FULLY IMPLEMENTED
          <hr>

          <div ng-repeat="axis in graph.axes">
            <button class="btn btn-default btn-xs" ng-click="removeAxis($index)"><i class="icon-cross"></i></button>
            <label>Y-Axis {{$index + 1}}</label><br/>
            <div class="col-lg-4">
              <label>Scale:</label>
              <div class="radio">
                <label><input type="radio" ng-model="axis.scale" value="linear">linear</label>
              </div>
              <div class="radio">
                <label><input type="radio" ng-model="axis.scale" value="log">logarithmic</label>
              </div>
            </div>

            <div class="col-lg-4">
              <label>Orientation:</label>
              <div class="radio">
                <label><input type="radio" ng-model="axis.orientation" value="left">left</label>
              </div>
              <div class="radio">
                <label><input type="radio" ng-model="axis.orientation" value="right">right</label>
              </div>
            </div>

            <div class="col-lg-4">
              <label>Format:</label>
              <div class="radio">
                <label><input type="radio" ng-model="axis.format" value="kmbt">KMBT</label>
              </div>
              <div class="radio">
                <label><input type="radio" ng-model="axis.format" value="num">numeric</label>
              </div>
            </div>

            <label>Title<input type="text" class="form-control"></label>

            <hr>
          </div>
          <button class="btn btn-primary" ng-click="addAxis()">Add Axis</button>
          -->
        </div>
      </div>

      <!-- 4) Palette Settings -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'palette'">
        <div class="panel-heading">Palette Settings</div>
        <div class="panel-body">Palette settings are not yet implemented.</div>
      </div>
    </div>

    <div ng-click="showTab = null">
      <div class="graph_chart" graph-chart graph-settings="graph" graph-data="data">
      </div>
    </div>
  </div>
</span>
