// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//= require entypo
//= require bootstrap-datetimepicker.min
//= require rickshaw.min

$light-secondary-background: #f0f0f0;

#dashboard {
  margin-bottom: 20px;
}

#global_controls {
  margin-bottom: 8px;
}

.dashboard_settings {
  position: absolute;
  top: 33px;
  width: 275px;
  z-index: 1000;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050; // Bootstrap's navbar is at 1030.
  background-color: #FFFFFF;
  padding: 3px;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1050; // Bootstrap's navbar is at 1030.
  padding: 3px;
  background-color: #555555;
  opacity: 0.4;
}

.widget_wrapper {
  background-color: $light-secondary-background;
  border: none;
  padding: 5px;
  position: relative;
  width: 100%;
}

.widget_column {
  padding-right: 5px;
  padding-left: 5px;
}

.widget_title {
  border: none;
  border-bottom: 1px dotted green;
  cursor: move;
  // This was added to hide overly long titles, but it also hides the error
  // reporting, so for now it is commented out.
  // overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.graph_ajax_status {
  font-weight: normal;
}

.graph_control_tabbar {
  position: absolute;
  right: 0;
  z-index: 1000;
}

.graph_config_menu {
  position: absolute;
  bottom: 5px;
  right: 5px;
  & .btn {
    border-radius: 0;
    background-color: inherit;
    border: none;
    color: #666;
    &:hover {
      color: #428bca;
    }
  }
}

.legend_buttons {
  position: absolute;
  z-index: 50;
  right: 0;
  top: 41px;
  padding: 5px;
  & .btn:first-child:not(:last-child) {
    border-radius: 0;
  }
  & .btn:last-child:not(:first-child) {
    border-radius: 0;
  }
}

.graph_control_tabpane {
  position: absolute;
  right: 0;
  top: -1px;
  width: 500px;
}

.graph_control_tabpane select {
  margin-bottom: 2px;
}

// Fix spacing issues with Entypo icons inside Bootstrap buttons.
[class^="icon-"][class^="icon-"], [class*=" icon-"] {
  width: auto !important;
  margin-right: 0 !important;
  line-height: 1;
}

.sortable-widgets {
  list-style-type: none;
  padding: 10px;
}

.frame_iframe {
  border-style: none;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.single_widget .panel {
  margin-bottom: 0;
}

.rickshaw_graph .y_ticks path {
  stroke: none;
}

.rickshaw_legend {
  color: #555555;
  padding: 0;
  border-radius: 0;
  width: 100%;
  border-color: #DDDDDD;
  background: none;
  ul {
    margin: 0;
  }
  .action, .action:hover {
    color: #428BCA;
    opacity: 1;
  }
  .line {
    display: inline-block;
    white-space: nowrap;
  }
}

.inactive_widget {
  position: absolute;
  visibility: hidden;
}

// Hover-detail styling.
.rickshaw_graph .detail {
  .date {
    color: #a0a0a0;
  }

  .labels {
    font-size: 11px;
  }
}

$light-background: #f5f5f5;
$light-border: #dddddd;
$light-text: #333333;

error-message {
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;

  .errors {
    text-align: left;
    position: absolute;
    padding: 10px;
    width: 100%;

    .error {
      overflow: hidden;
      position: absolute;
      z-index: 9999;
      border-top: 1px solid $light-border;
      border-bottom: 1px solid $light-border;
      background-color: #FFFFFF;
      padding: 10px;
      margin-top: 10px;
      left: 0;
      width: 100%;
    }
    .tooltips {
      left: -6px;
      z-index: 1;
      -webkit-animation: flashing 1s ease 1s infinite;
      -moz-animation: flashing 1s ease 1s infinite;
      animation: flashing 1s ease 1s infinite;
    }
  }
}

.bootstrap-datetimepicker-widget {
  thead tr:first-child th:hover,
  td.day:hover,
  td.hour:hover,
  td.minute:hover,
  td.second:hover {
    border-radius: 0;
  }
  td.active.active {
    border-radius: 0;
    background-image: linear-gradient(rgb(0, 68, 204), rgb(0, 68, 204));
  }
}

.dropdown-menu {
  border-radius: 0;
  border: none;
}

.rickshaw_graph .detail .item {
  border-radius: 0;
}

.rickshaw_legend {
  margin: 3px 0 0 5px;
}

.dark_theme {
  $dark-background: #0A0A0A;
  $dark-border: #404040;
  $dark-line: rgba(255,255,255,.2);
  $dark-text: #FFFFFF;
  $dark-secondary-text: #252525;

  // Changes to this value need to also be made to the bgcolor query string key
  // in frame_ctrl.js.
  $dark-secondary-background: #191919;

  $dark-tertiary-background: #505050;
  $dark-accent: #96557e;
  $dark-button-hover: #383838;

  a {
    color: $dark-accent;
  }

  body, .fullscreen {
    color: $dark-text;
    background-color: $dark-background;

    .rickshaw_legend {
      color: $dark-text;
      border-color: $dark-border;
      .action, .action:hover {
        color: $dark-accent;
      }
    }

    .legend_buttons {
      background-color: $dark-secondary-background;
    }

    .widget_wrapper {
      background-color: $dark-secondary-background;
    }

    .form-control:focus {
      border-color: #96557e;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                          0 0 8px rgba(150, 85, 126, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                  0 0 8px rgba(150, 85, 126, 0.6);
    }

    .global_grouping {
      .form-control, .btn-default {
        background-color: $dark-secondary-background;
        border-color: $dark-secondary-background;
        color: $dark-text;
      }
    }

    .dropdown-menu > .active > a {
      background-color: $dark-tertiary-background;
    }
    .dropdown-menu li a {
      color: $dark-text;
      &:hover {
        background-color: $dark-tertiary-background;
      }
    }

    .widget_title {
      border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    }

    .graph_config_menu .btn {
      color: #606060;
    }

    .global_grouping, .widget_title {
      & .btn:hover {
        color: $dark-text;
      }
    }

    .spin {
      color: $dark-text;
    }

    .btn-primary {
      background-color: $dark-secondary-background;
      border-color: $dark-secondary-background;
    }

    .graph_control_tabpane .btn-primary {
      background-color: $dark-secondary-background;
      border-color: $dark-secondary-background;
      &:hover {
        background-color: $dark-button-hover;
        border-color: $dark-button-hover;
      }
    }

    .dropdown-menu, .graph_chart {
      background-color: $dark-secondary-background;
    }

    .bootstrap-datetimepicker-widget {
      thead tr:first-child th:hover,
      td.day:hover,
      td.hour:hover,
      td.minute:hover,
      td.second:hover {
        background-color: $dark-border;
      }
      td.active.active {
        background-color: $dark-accent;
        background-image: linear-gradient(rgb(150, 85, 126), rgb(150, 85, 126));
      }
      .btn {
        color: $dark-text;
      }
      .btn:hover, .btn:focus {
        color: $dark-text;
      }
    }

    .panel-default {
      border-color: $dark-border;
    }

    .panel-heading {
      background-color: $dark-secondary-background;
      border-color: $dark-border;
      color: $dark-text;
    }

    .panel-body {
      color: $dark-secondary-text;
    }

    .rickshaw_graph {
      background-color: $dark-secondary-background;

      .detail {
        background: $dark-line;
        .x_label {
          color: $dark-border;
        }
      }

      .title {
        color: $dark-text;
      }

      .y_grid .tick {
        stroke: $dark-line;
      }

      .y_ticks {
        text {
          fill: $dark-text;
        }
      }

      .x_tick  {
        border-left: 1px dotted $dark-line;
      }
    }
  }

  .errors {
    .error {
      border-top: 1px solid $dark-border;
      border-bottom: 1px solid $dark-border;
      background-color: $dark-background;
    }
    .tooltips ng-pluralize {
      color: #FFFFFF;
      background: $dark-background;
      border: 1px solid $dark-border;
    }
  }
}

.no_padding {
  padding: 0;
}

.dashboard_link {
  position: relative;
  z-index: 1;
}

.graph_settings_image {
  background-repeat: no-repeat;
  background-size: 30px 17px;
  background-position-y: -1px;
  padding-left: 35px;
}

hr {
  border-top: 1px solid #CCCCCC;
}

.axis_container {
  border-right: 1px solid #CCCCCC;
}

.axis_button {
  position: relative;
  bottom: 3px;
}

.add_axis {
  margin: 30% auto;
  display: block;
}

.axis_attr {
  .attr_name {
    display: block;
    margin-top: 5px;
  }
  .radio {
    margin: 5px 0;
    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.stacked {
  background-image: asset_url("om_stack.png");
}
.lines {
  background-image: asset_url("om_lines.png");
}
.scatterplot {
  background-image: asset_url("om_scatter.png");
}
.cardinal {
  background-image: asset_url("interp_cardinal.png");
}
.linear {
  background-image: asset_url("interp_linear.png");
}
.step {
  background-image: asset_url("interp_step.png");
}

.global_grouping {
  float: left;
  margin-right: 15px;
  position: relative;
  &:first-child {
    margin-left: 15px;
  }
}

.global_time_input {
  width: 165px;
}

.global_date_input {
  width: 220px;
}

.add_widget_button {
  margin-right: 5px;
}

.modal_container {
  position: fixed;
  left: 40%;
  top: 35%;
  width: 275px;
  z-index: 9999;
}

.clone_select {
  min-width: 150px;
}

.clone_widget_close {
  margin-top: 3px;
}

.pointer {
  cursor: pointer;
}

.float_r {
  float: right;
}

@-webkit-keyframes flashing
{
  0%   {color: #FFFFFF;}
  50%  {color: #FF0000;}
  100% {color: #FFFFFF;}
}

@keyframes flashing
{
  0%   {color: #FFFFFF;}
  50%  {color: #FF0000;}
  100% {color: #FFFFFF;}
}

@-moz-keyframes flashing
{
  0%   {color: #FFFFFF;}
  50%  {color: #FF0000;}
  100% {color: #FFFFFF;}
}

.spin {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
  100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); }
}

// Over-ride bootstrap
.panel {
  margin-bottom: 10px;
}

.panel, .panel-heading, .btn, .form-control {
  border-radius: 0;
}

.global_grouping .form-control {
  display: inline-block;
  width: 174px;
}

.dashboard_settings .form-control {
  display: block;
}


.dropdown-menu {
  margin-top: 4px;
}

.panel-default > .panel-heading {
  background-color: $light-secondary-background;
}
