// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//= require entypo
//= require bootstrap-datetimepicker.min
//= require rickshaw.min

#dashboard {
  margin-bottom: 20px;
}

#global_controls {
  margin-bottom: 8px;
}

#dashboard_settings {
  position: absolute;
  top: 34px;
  left: 15px;
  z-index: 1000;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050; // Bootstrap's navbar is at 1030.
  background-color: #FFFFFF;
  padding: 3px;
}

.widget_wrapper {
  width: 100%;
}

.widget_column {
  padding-right: 5px;
  padding-left: 5px;
}

.widget_title {
  cursor: move;
  overflow: hidden;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.graph_ajax_status {
  font-weight: normal;
}

.remove_graph_btn {
  right: 7px;
  top: 7px;
  position: absolute;
}

.graph_control_tabbar {
  position: absolute;
  z-index: 1000;
}

.graph_control_tabpane {
  width: 500px;
}

.graph_control_tabpane select {
  margin-bottom: 2px;
}

#add_graph {
  clear: both;
  display: block;
  margin-left: 5px;
}

// Fix spacing issues with Entypo icons inside Bootstrap buttons.
[class^="icon-"][class^="icon-"], [class*=" icon-"] {
  width: auto !important;
  margin-right: 0 !important;
  line-height: 1;
}

.sortable-widgets {
  list-style-type: none;
  padding: 10px;
}

.frame_iframe {
  border-style: none;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.single_widget .panel {
  margin-bottom: 0;
}

.rickshaw_graph .y_ticks path {
  stroke: none;
}

.rickshaw_legend {
  color: #555555;
  padding: 0;
  border-radius: 0;
  width: 100%;
  border-color: #DDDDDD;
  background: none;
  ul {
    margin: 0;
  }
  .action, .action:hover {
    color: #428BCA;
    opacity: 1;
  }
  .line {
    display: inline-block;
    white-space: nowrap;
  }
}

.inactive_widget {
  position: absolute;
  visibility: hidden;
}

.dark_theme {
  $dark-background: #0A0A0A;
  $dark-border: #404040;
  $dark-line: rgba(255,255,255,.2);
  $dark-text: #FFFFFF;
  $dark-secondary-background: #252525;
  $dark-accent: #96557e;

  a {
    color: $dark-accent;
  }

  body, .fullscreen {
    color: $dark-text;
    background-color: $dark-background;

    .rickshaw_legend {
      color: $dark-text;
      border-color: $dark-border;
      .action, .action:hover {
        color: $dark-accent;
      }
    }

    .form-control:focus {
      border-color: #96557e;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                          0 0 8px rgba(150, 85, 126, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                  0 0 8px rgba(150, 85, 126, 0.6);
    }

    #global_controls {
      .form-control, .btn-default {
        background-color: $dark-background;
        border-color: $dark-border;
        color: $dark-text;
      }
    }

    .dropdown-menu > .active > a {
      background-color: $dark-accent;
    }
    .dropdown-menu li a {
      color: $dark-text;
      &:hover {
        background-color: $dark-accent;
      }
    }

    .btn-primary {
      background-color: $dark-accent;
      border-color: #89486d;
    }

    .dropdown-menu, .graph_chart {
      background-color: $dark-secondary-background;
    }

    .bootstrap-datetimepicker-widget {
      thead tr:first-child th:hover,
      td.day:hover,
      td.hour:hover,
      td.minute:hover,
      td.second:hover {
        background-color: $dark-border;
      }
      td.active.active {
        background-color: $dark-accent;
        background-image: linear-gradient(rgb(150, 85, 126), rgb(124, 70, 112));
      }
      .btn {
        color: $dark-accent;
      }
      .btn:hover, .btn:focus {
        color: $dark-text;
      }
    }

    .panel-default {
      border-color: $dark-border;
    }

    .panel-heading {
      background-color: #202020;
      border-color: $dark-border;
      color: $dark-text;
    }

    .panel-body {
      color: $dark-background;
    }

    .rickshaw_graph {
      background-color: $dark-background;

      svg {
        background-color: $dark-background;
      }

      .detail {
        background: $dark-line;
        .x_label {
          color: $dark-border;
        }
      }

      .title {
        color: $dark-text;
      }

      .y_grid .tick {
        stroke: $dark-line;
      }

      .y_ticks {
        text {
          fill: $dark-text;
        }
      }

      .x_tick  {
        border-left: 1px dotted $dark-line;
      }
    }
  }
}

.no_padding {
  padding: 0;
}
