<% page_title @title %>
<script type="text/javascript">
  servers = <%= @servers.to_json.html_safe %>;
  dashboard = <%= @dashboard.to_json.html_safe %>;
  blob = "<%= @blob %>";
</script>

<div class="fullscreen">
  <div class="single_widget" ng-controller="SingleWidgetCtrl">
    <span ng-repeat="widget in widgets" ng-switch="widget.type">
      <span ng-switch-when="graph">
        <graph
          graph-settings="widget"
          servers="servers"
          global-end-time="globalConfig.endTime"
          aspect-ratio="globalConfig.aspectRatio"
          index="$index"
          vars="globalConfig.vars">
      </span>
      <span ng-switch-when="gauge">
        <gauge
          graph-settings="widget"
          servers="servers"
          aspect-ratio="globalConfig.aspectRatio"
          index="$index"
          vars="globalConfig.vars">
      </span>
      <span ng-switch-when="pie">
        <pie
          graph-settings="widget"
          servers="servers"
          aspect-ratio="globalConfig.aspectRatio"
          index="$index"
          vars="globalConfig.vars">
      </span>
      <span ng-switch-when="frame">
        <inline-frame
          frame-settings="widget"
          aspect-ratio="globalConfig.aspectRatio"
          index="$index"
          vars="globalConfig.vars">
      </span>
    </span>
  </div>
</div>
