<div><b>Expression {{index + 1}}</b></div>
<form class="form-inline expression_form">
  <div class="form-group col-xs-4 pad-right expression_select" ng-class="{'col-xs-12': type !== 'graph' }">
    <select class="form-control"
      ng-model="expr.serverID"
      ng-options="s.id as s.name for s in servers"
      ng-change="updateMetricNames()">
      <option value="">- Select Server -</option>
    </select>
  </div>
  <div ng-if="type === 'graph'">
    <div class="form-group col-xs-4 expression_select pad-right">
      <select class="form-control" ng-model="expr.axisID" ng-options="a.id as ('Axis ' + a.id) for a in axes">
        <option value="">- Select Axis -</option>
      </select>
    </div>
  </div>
  <div ng-if="type === 'graph'" class="form-group col-xs-4 expression_select">
    <select class="form-control"
      ng-model="expr.legendID"
      ng-options="s.id as s.name for s in legendFormatStrings">
      <option value="">- Select Format String -</option>
    </select>
  </div>
</form>
<div class="input-group expression_select" ng-class="{'col-xs-12': type !== 'graph' }">
  <input type="text" class="form-control"
    ng-model="expr.expression"
    typeahead="m for m in getMetrics($viewValue)"
    typeahead-on-select="setExpression($item)"
    typeahead-wait-ms="100"
    placeholder="Enter expression" />
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="showMetrics = true" ng-hide="showMetrics"><i class="icon-plus"></i></button>
    <button class="btn btn-default" type="button" ng-click="showMetrics = false" ng-show="showMetrics"><i class="icon-minus"></i></button>
    <button class="btn btn-default" type="button" ng-click="removeExpression(index)"><i class="icon-cross"></i></button>
    <a class="btn btn-default" ng-class="{disabled: !linkToPrometheus()}" target="_blank" href="{{linkToPrometheus()}}" tooltip-append-to-body="true" tooltip="Link to Graph in Prometheus">
      <i class="glyphicon glyphicon-new-window"></i>
    </a>
  </span>
</div>
<select class="form-control" type="text"
  ng-show="showMetrics"
  ng-model="chosenMetric"
  ng-change="appendToExpression(expr, chosenMetric)"
  ng-options="m for m in metricNames">
  <option value="">- Insert Metric at Cursor -</option>
</select>
<br/>
