<span ng-controller="FrameCtrl">
  <div class="js_widget_wrapper widget_wrapper panel panel-default pull-left">
    <div class="widget_title panel-heading" ng-mouseenter="showControls = true" ng-mouseleave="showControls = false">
      {{getTitle()}}
      <div class="btn-group pull-right graph_config_menu" ng-show="showControls || showTab">
        <div class="btn btn-primary btn-sm" ng-click="refreshFrame()" tooltip-append-to-body="true" tooltip="Refresh"><i ng-class="{spin:requestsInFlight}" class="icon-cycle"></i></div>
        <div class="btn btn-primary btn-sm" ng-click="toggleTab('frame_source')" tooltip-append-to-body="true" tooltip="Frame Source"><i class="icon-add-to-list"></i></div>
        <div class="btn btn-primary btn-sm" ng-show="frame.graphite" ng-click="toggleTab('timerange')" tooltip-append-to-body="true" tooltip="Time options"><i class="icon-clock"></i></div>
        <div class="btn btn-primary btn-sm" ng-click="toggleTab('frame_settings')" tooltip-append-to-body="true" tooltip="Frame Settings"><i class="icon-cog"></i></div>
        <div class="btn btn-primary btn-sm" ng-click="toggleTab('staticlink'); generateWidgetLink($event)" tooltip-append-to-body="true" tooltip="Link to Graph"><i class="icon-link"></i></div>
        <div class="btn btn-primary btn-sm" ng-click="frameDeleteModal()" tooltip-append-to-body="true" tooltip="Remove frame"><i class="icon-trash"></i></div>
      </div>
    </div>

    <div class="pull-left graph_control_tabbar">
      <!-- Frame control tab content panes -->
      <!-- 1) Frame Source (URL) -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'frame_source'">
        <div class="panel-heading">Frame Source</div>
        <div class="panel-body">
          <input type="text" class="form-control" ng-model="urlInput" ng-changed="updateUrl()" placeholder="Enter URL" required>
          <input type="text" class="form-control" ng-model="frame.title" placeholder="Enter Title" required>
        </div>
      </div>

      <!-- 2) Time Options -->
      <widget-time-options ng-show="showTab == 'timerange'" range="frame.range" end-time="frame.endTime"></widget-time-options>

      <!-- 3) Frame Settings -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'frame_settings'">
        <div class="panel-heading">Frame Settings</div>
        <div class="panel-body">
          <div class="checkbox">
            <label><input type="checkbox" ng-model="frame.graphite" /> this is a graphite graph</label>
          </div>
        </div>
      </div>

      <!-- 4) Static link to graph -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'staticlink'">
        <div class="panel-heading">Link to this graph</div>
        <div class="panel-body">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="widgetLink">
            <span class="input-group-btn">
              <a class="btn btn-default" href="{{widgetLink}}" title="Open frame in new tab" target="_blank" ng-click="toggleTab('staticlink')">
                <span class="glyphicon glyphicon-new-window"></span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div ng-style="frameHeight()">
      <iframe ng-src="{{frameURL()}}" class="frame_iframe" marginwidth="0" scrolling="no"></iframe>
    </div>
  </div>

  <div ng-show="showFrameDelete" class="modal_container panel panel-default">
    <div class="panel-heading">
      Remove Graph
      <i ng-click="closeFrameDelete()" class="clone_widget_close pointer pull-right icon-cross"></i>
    </div>
    <div class="panel-body">
      <div class="form-group">
        Are you sure you want to delete this frame?
      </div>
      <div class="pull-right">
        <button class="btn btn-primary add_widget_button" ng-click="closeFrameDelete()" title="Cancel">
          Cancel
        </button>
        <button class="btn btn-primary add_widget_button" ng-click="removeFrame()" title="Delete Frame">
          Delete
        </button>
      </div>
    </div>
  </div>
</span>
