<span ng-controller="FrameCtrl">
  <div class="widget_wrapper panel panel-default pull-left">
    <div class="js_widget_wrapper widget_title panel-heading" ng-mouseenter="showControls = true" ng-mouseleave="showControls = false">
      {{getTitle()}}
      <div class="btn-group pull-right graph_config_menu" ng-show="showControls || showTab">
        <div class="btn btn-primary btn-sm" ng-click="refreshFrame()" tooltip-append-to-body="true" tooltip="Refresh"><i ng-class="{spin:requestsInFlight}" class="glyphicon glyphicon-refresh"></i></div>
        <div class="btn btn-primary btn-sm" ng-click="toggleTab($event, 'frame_source')" tooltip-append-to-body="true" tooltip="Frame Source"><i class="icon-add-to-list"></i></div>
        <div class="btn btn-primary btn-sm" ng-show="frame.graphite" ng-click="toggleTab($event, 'timerange')" tooltip-append-to-body="true" tooltip="Time options"><i class="icon-clock"></i></div>
        <div class="btn btn-primary btn-sm" ng-click="toggleTab($event, 'frame_settings')" tooltip-append-to-body="true" tooltip="Frame Settings"><i class="icon-cog"></i></div>
        <div class="btn btn-primary btn-sm" ng-click="toggleTab($event, 'staticlink'); generateWidgetLink($event)" tooltip-append-to-body="true" tooltip="Link to Graph"><i class="icon-link"></i></div>
        <div class="btn btn-primary btn-sm" ng-click="widgetDeleteModal()" tooltip-append-to-body="true" tooltip="Remove frame"><i class="icon-trash"></i></div>
      </div>
    </div>

    <div class="pull-left graph_control_tabbar">
      <!-- Frame control tab content panes -->
      <!-- 1) Frame Source (URL) -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'frame_source'">
        <div class="panel-heading">Frame Source</div>
        <div class="panel-body">
          <form class="form-inline">
            <div class="form-group col-xs-12">
              <input type="text" class="form-control" ng-changed="generateFrameComponents()" ng-model="frame.url" placeholder="Enter URL" required>
            </div>
          </form>
          <div class="form-group col-xs-12">
            <input type="text" class="form-control" ng-model="frame.title" placeholder="Enter Title" required>
          </div>
          <div class="col-xs-12"><b>Query String Key/Value Pairs</b></div>
          <form class="form-inline">
            <div class="form-group col-xs-12" ng-repeat="qs in frameComponents" ng-if="!skipComponent(qs.key)">
              <div class="input-group">
                <input class="input-group-addon frame_query_string_key" ng-model="qs.key">
                <input class="form-control frame_query_string_value" ng-model="qs.value" placeholder="Enter value for {{qs.key}}" ng-disabled="qs.value === undefined">
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- 2) Time Options -->
      <widget-time-options
        ng-show="showTab == 'timerange'"
        range="frame.range"
        end-time="frame.endTime"></widget-time-options>

      <!-- 3) Frame Settings -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'frame_settings'">
        <div class="panel-heading">Frame Settings</div>
        <div class="panel-body">
          <div class="checkbox">
            <label><input type="checkbox" ng-model="frame.graphite" /> this is a graphite graph</label>
          </div>
        </div>
      </div>

      <!-- 4) Static link to graph -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'staticlink'">
        <div class="panel-heading">Link to this graph</div>
        <div class="panel-body">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="widgetLink">
            <span class="input-group-btn">
              <a class="btn btn-default" href="{{widgetLink}}" title="Open frame in new tab" target="_blank" ng-click="toggleTab('staticlink')">
                <span class="glyphicon glyphicon-new-window"></span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="frame_container"></div>
  </div>
  <widget-delete-modal></widget-delete-modal>
</span>
