<span ng-controller="PieCtrl">
  <div class="widget_wrapper panel panel-default pull-left">
    <error-message error-messages="errorMessages"></error-message>
    <div class="js_widget_wrapper widget_title panel-heading" ng-mouseenter="showControls = true" ng-mouseleave="showControls = false">
      <span ng-show="dashboard"><a href="/{{dashboard.slug}}" class="dashboard_link pointer">{{dashboard.name}}</a> &mdash; </span>
      {{title()}}

      <div class="btn-group pull-right graph_config_menu">
        <div ng-show="showControls || showTab || requestsInFlight" class="btn btn-primary btn-sm" ng-click="refreshGraph()" tooltip-append-to-body="true" tooltip="Refresh"><i ng-class="{spin:requestsInFlight}" class="icon-cycle"></i></div>
        <div ng-show="showControls || showTab" class="btn btn-primary btn-sm" ng-click="toggleTab('datasources')" tooltip-append-to-body="true" tooltip="Datasources"><i class="icon-add-to-list"></i></div>
        <div ng-show="showControls || showTab" class="btn btn-primary btn-sm" ng-click="toggleTab('graph')" tooltip-append-to-body="true" tooltip="Graph and axis settings"><i class="icon-line-graph"></i></div>
        <div ng-show="showControls || showTab" class="btn btn-primary btn-sm" ng-click="toggleTab('palette')" tooltip-append-to-body="true" tooltip="Palette"><i class="icon-palette"></i></div>
        <div ng-show="showControls || showTab" class="btn btn-primary btn-sm" ng-click="toggleTab('legend')" tooltip-append-to-body="true" tooltip="Legend Settings"><i class="icon-list"></i></div>
        <div ng-show="(showControls || showTab) && !widgetPage" class="btn btn-primary btn-sm" ng-click="toggleTab('staticlink'); generateWidgetLink($event)" tooltip-append-to-body="true" tooltip="Link to Graph"><i class="icon-link"></i></div>
        <div ng-show="showControls || showTab" class="btn btn-primary btn-sm" ng-click="graphDeleteModal()" tooltip-append-to-body="true" tooltip="Remove graph"><i class="icon-trash"></i></div>
      </div>

    </div>

    <div class="pull-left graph_control_tabbar" ng-show="showTab">
      <!-- Graph control tab content panes -->
      <!-- 1) Datasources -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'datasources'">
        <div class="panel-heading">Datasources</div>
        <div class="panel-body">
          <expression
            expr="graph.expression"
            servers="servers"
            axes="graph.axes"
            servers-by-id="serversById"
            legend-format-strings="graph.legendFormatStrings"
            index="$index"></expression>
        </div>
      </div>

      <!-- 3) Graph and Axis Settings -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'graph'">
        <div class="panel-heading">Graph and Axis Settings</div>
        <div class="panel-body">
          <label>Graph Title:</label>
          <input class="form-control" ng-model="graph.title">
          <br/>

          <hr>

          <div class="col-xs-6" ng-class="{axis_container:$first}" ng-repeat="axis in graph.axes">
            <div>
              <label>Y-Axis {{$index + 1}}</label>
              <button
                ng-hide="$index === 0"
                class="btn btn-default btn-xs float_r axis_button"
                ng-click="removeAxis($index)">
                <i class="icon-cross"></i>
              </button>
            </div>
            <div class="axis_attr">
              <span class="attr_name">Type:</span>
              <div class="radio">
                <label class="graph_settings_image lines"><input type="radio" ng-model="axis.renderer" value="line"> lines</label>
              </div>
              <div class="radio">
                <label class="graph_settings_image stacked"><input type="radio" ng-model="axis.renderer" value="stack"> stacked</label>
              </div>
              <div class="radio">
                <label class="graph_settings_image scatterplot"><input type="radio" ng-model="axis.renderer" value="scatterplot"> scatter plot</label>
              </div>
            </div>

            <!-- <div> -->
            <!--   <label>Orientation:</label> -->
            <!--   <div class="radio"> -->
            <!--     <label><input type="radio" ng&#45;model="axis.orientation" value="left">left</label> -->
            <!--   </div> -->
            <!--   <div class="radio"> -->
            <!--     <label><input type="radio" ng&#45;model="axis.orientation" value="right">right</label> -->
            <!--   </div> -->
            <!-- </div> -->

            <!-- <label>Title<input type="text" class="form&#45;control"></label> -->

          </div>
        </div>
      </div>

      <!-- 4) Palette Settings -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'palette'">
        <div class="panel-heading">Palette Settings</div>
        <div class="panel-body">Palette settings are not yet implemented.</div>
      </div>

      <!-- 5) Legend Settings -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'legend'">
        <div class="panel-heading">Legend Settings</div>
        <div class="panel-body">
          <label>Show legend</label>
          <br />
          <div class="radio">
            <label><input type="radio"
              ng-model="graph.legendSetting"
              value="sometimes"> if 5 or fewer elements</label>
          </div>
          <div class="radio">
            <label><input type="radio"
              ng-model="graph.legendSetting"
              value="always"> always</label>
          </div>
          <div class="radio">
            <label><input type="radio"
              ng-model="graph.legendSetting"
              value="never"> never</label>
          </div>
          <label>Legend format:</label>
          <div class="legend_string_container" ng-repeat="str in graph.legendFormatStrings track by $index">
            <input class="form-control legend_string_input" ng-model="str.name">
            <button class="btn btn-primary" type="button" ng-hide="$first" ng-click="removeLegendString($index)">
              <i class="icon-cross"></i>
            </button>
            <button class="legend_string_add btn btn-primary" ng-show="$last" type="button" ng-click="addLegendString()">
              <i class="icon-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- 6) Static link to graph -->
      <div class="graph_control_tabpane panel panel-default" ng-show="showTab == 'staticlink'">
        <div class="panel-heading">Link to this graph</div>
        <div class="panel-body">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="widgetLink">
            <span class="input-group-btn">
              <a class="btn btn-default" href="{{widgetLink}}" title="Open frame in new tab" target="_blank" ng-click="toggleTab('staticlink')">
                <span class="glyphicon glyphicon-new-window"></span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div ng-click="showTab = null">
      <pie-chart graph-settings="graph" data="data" aspect-ratio="aspectRatio" vars="vars"></pie-chart>
    </div>
  </div>

  <div ng-show="showGraphDelete" class="modal_container panel panel-default">
    <div class="panel-heading">
      Remove Graph
      <i ng-click="closeGraphDelete()" class="clone_widget_close pointer pull-right icon-cross"></i>
    </div>
    <div class="panel-body">
      <div class="form-group">
        Are you sure you want to delete this graph?
      </div>
      <div class="pull-right">
        <button class="btn btn-primary add_widget_button" ng-click="closeGraphDelete()" title="Cancel">
          Cancel
        </button>
        <button class="btn btn-primary add_widget_button" ng-click="removeGraph()" title="Delete Graph">
          Delete
        </button>
      </div>
    </div>
  </div>
</span>
