<div class="template_variables">
  <table>
    <tr ng-repeat="p in profile track by $index">
      <td>
        <input type="text" class="form-control" placeholder="Variable name" ng-model="p.name">
      </td>
      <td>=</td>
      <td>
        <input type="text" class="form-control" placeholder="Variable value" ng-model="p.value">
      </td>
      <td>
        <button class="btn btn-default" type="button" ng-click="removeVariable($index)">
          <i class="icon-cross"></i>
        </button>
      </td>
    </tr>
  </table>
  <button class="btn btn-primary" type="button" ng-click="addVariable()">
    <i class="icon-plus"></i>
  </button>
</div>
